<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tasks</title>
</head>
<body>
    <h1>All Tasks</h1>
    <ul>
    <% tasks.forEach((task, index) => { %>
    <li><%= `${task.name} by ${task.username}` %></li>
    <% }); %> 
    </ul>

</body>
</html>