<p>Hello <%= @owner.full_name %>,</p>

<p>Thank you for adding the product "<%= @product.title %>" to Amazing Amazon.</p>

<%= link_to 'Click Here', "#{product_url(@product)}##{dom_id(@product)}" %> to view product details.

<p>Thanks,</p>
<p>The Amazing Amazon Team</p>