@import url('https://fonts.googleapis.com/css?family=Merriweather|Thasadith');
@import url('reset.css');

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    background:rgba(0, 176, 218, 1);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 1em 1em;
}

/* Responsive Images */
img {
    max-width: 100%;
    height: auto;
}

.main-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 4em;
    background: #d0b1f3;
}

.menu, .main-footer {
    font-family: 'Thasadith', sans-serif;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5em;
    margin: 0.5em;
}

.branding {
    height: 3em;
    width: 10%;
}

.logo {
    height: 3em;
    width: 5em;
}

.logo-questions {
    height: 5em;
    width: 6em; 
}

.nav{
    width: 80%;
    margin: 0 0 0 10em;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

.card {
    background: #d0b1f3;
    padding: 2em;
    margin: 0.5em;
    width: 31.33333%;
    /* border: 1px solid rgba(0, 176, 218, 1); */
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    font-family: 'Merriweather', sans-serif;
}

.card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card:hover {
    transition: 0.3s ease-out;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 1);
    /* horiztonal offset, vertical offset, blur, size */
    transform: translateY(-2px) scale(1.005) translateZ(0);
  }  

.social-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20%;
    margin-right: 2em;
}

.pullquote {
    flex: 1;
}

h2 {
    font-size: 5em;
    font-weight: 700;
    align-content: center;
    color: rgb(1, 60, 130);
    margin: 0.5em;
}

h3 {
    font-size: 3em;
    font-weight: 500;
    align-content: center;
    margin: 0.5em 0.5em 0.25em 0.5em;
    color: rgb(1, 60, 130);
}

h4 {
    font-size: 2em;
    font-weight: 500;
    align-content: center;
    margin: 0.5em 0.5em 0.25em 0.5em;
    color: rgb(1, 60, 130);
}

.footer {
    height: 5em;
}

.main-quote, .sample-quote {
    font-family: 'Merriweather', sans-serif;
    width: 50%;
}

a:link, a:visited {
    text-decoration: none;
    color: rgb(1, 60, 130);
}

a:hover,
a:active {
    color: white;
}

.asker {
    color: rgba(0, 50, 98, 1);
    margin-left: 1.5em;
}

em {
    font-style: italic;
    font-size: 0.5em;
    margin: 0 0 0 1.6em;
}

.em-main {
    font-style: italic;
    font-size: 0.5em;
}

button{
    margin: 1em 2.5em;
}