<h1>Questions</h1>

<% if @tag.present? %>
    <h6>
        Showing questions tagged by
        <span class="bage badge-pill badge-primary">
            <%= @tag.name %>
        </span>
    </h6>
<% end %>

<%= render 'list' %>