<main class="container">
<br>
<h3>Products</h3>
<br>

<% if @tag.present? %>
    <h6>
        Showing products tagged by
        <span class="badge badge-pill badge-primary">
            <%= @tag.name %>
        </span>
    </h6>
<% end %>

<%= render 'list' %>

</main>