@import url(reset.css);
@import url('https://fonts.googleapis.com/css?family=Archivo|Arvo&display=swap');

/* 

Colour Guide

  Primary colour: #F2958A;
  Secondary colour: #F2D0BB;

  font-family: 'Arvo', serif;
  font-family: 'Archivo', sans-serif;

*/

body {
    background-color:rgba(0, 50, 98, 1);
    background-image: url("../assets/cal.png");
    background-repeat: no-repeat;
    background-size:25vw;
    background-position: top right;
    background-attachment: fixed;
    font-family: 'Archivo', sans-serif;
    padding: 5em 18em 5em 5em;

}

/* Hyperlink Styles */

a:link, a:visited {
    text-decoration: none;
    color:rgba(188, 155, 106, 1);
}

a:hover,
a:active {
    text-decoration: underline;
    color:rgba(185, 211, 182, 1);;
}

/* Typography Styles */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Arvo', serif;
}

h1 {
    font-size: 4.5em;
    color:rgba(253, 181, 21, 1);
    margin-bottom: 0.75em;
}

h2 {
    font-size: 2em;
    color:rgba(224, 158, 25, 1);
    margin-top: 1em;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 1.5em;
    color:rgb(207, 184, 141);
    margin-top: 0.75em;
    margin-bottom: 0.5em;
}

p, ul, li {
    margin-bottom: 0.5em;
    font-size: 1.2em;
    color:#ffffff;
}

li {
    list-style-type: square;
    list-style-position: outside;
    margin-left: 2em;
    margin-top:0.75em;
    margin-bottom:0.75em;
    line-height:1.3;
}

strong {
    font-weight: 600;
    font-size: 1em;
}

em {
    font-style:italic;
    font-size: 0.75em;
}