<!DOCTYPE html>
<html>
  <head>
    <title>Chatr Express</title>
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
    <script type="text/javascript" src="/scripts/main.js"></script>
  </head>
  <body>
