<h1>Welcome to Awesome Answers</h1>

<%= image_tag 'hp.jpg', 'width': '500px' %>
<hr>
<button type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Test tooltip">
Tooltip test
</button>