ENV['EMAIL_USERNAME'] = 'PUT YOUR EMAIL USERNAME HERE'
ENV['EMAIL_PASSWORD'] = 'PUT YOUR EMAIL PASSWORD HERE'
ENV['STRIPE_PUBLISHABLE_KEY'] = 'PUT YOUR STRIPE PUBLISHABLE KEY HERE'
ENV['STRIPE_SECRET_KEY'] = 'PUT YOUR STRIPE SECRET KEY HERE'
