<%- include('./partials/header') %>

<h4>Edit Note</h4>

    <form method="PATCH" action="edit">
        
            <div>
                <textarea name="edit" id ="edit" placeholder="Edit note" cols=100 rows=1 required></textarea><br>
            </div>

        <input type="submit" value="Edit">
        
    </form>

<%- include('./partials/footer') %>